<br /><br />
<div class="row">
  <div class="col-md-4"></div>
  
  <div class="col-md-4">
    
    <table class="table">
      <tr class="active">
        <td><%= @monster.name %></td>
        <td class="text-right"><%= @monster.mon_type %></td>
      </tr>
    </table>
    
  </div>
</div>