<br /><br /><br />

<div class="row">
  <div class="col-md-1"></div>
  
  <div class="col-md-4">
    
    <div class="jumbotron text-center">
      <p>this is just some filler text about what the button does... blah blah</p>
      <%= link_to "Monster Maker", new_monster_path, class: 'btn btn-success btn-lg' %>
    </div>
    
  </div>
  
  <div class="col-md-1"></div>
  
  <div class="col-md-4">
    
    <div class="jumbotron text-center">
      <p>this is just some text about the upcomming character builder... blah</p>
      <%= link_to "Character Builder", root_path, class: 'btn btn-warning btn-lg', disabled: 'disabled' %>
    </div>
    
  </div>
  
</div>