<br /><br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="jumbotron text-center">
      <h2 class>Foster Kizer TableTop RPG Tools</h2>
      <p>Sign up is free to use the tools.
        <br />Included is a 5th edition character builder (in development)
        and a monster builder for the Dragon Age RPG</p>
    </div>
  </div>
</div>